<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
         	
	<display-name>Twitter Analytics WebPage</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Query1</servlet-name>
		<servlet-class>Query1</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Query1</servlet-name>
		<url-pattern>/Query1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Query2</servlet-name>
		<servlet-class>Query2</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Query3</servlet-name>
		<url-pattern>/Query3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Query4</servlet-name>
		<servlet-class>Query4</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Query4</servlet-name>
		<url-pattern>/Query4</url-pattern>
	</servlet-mapping>

</web-app>